{% load util %}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
 <div class="sidebar-brand">
  <a class="brand-link" href="./index.html">
   <img alt="AdminLTE Logo" class="brand-image opacity-75 shadow" src="/static/mainframe/dist/assets/img/AdminLTELogo.png"/>
   <span class="brand-text fw-light">
    AdminLTE 4
   </span>
  </a>
 </div>
 <div class="sidebar-wrapper">
  <nav class="mt-2">
		<ul class="nav sidebar-menu flex-column" data-accordion="false" data-lte-toggle="treeview" role="menu"> 
		{% for key, value in treeview_data.items %}
			{% if value|get_type == "str" %}
				{% include "mainframe/nav_item.html" with name=key href=value %}
			{% elif  value|get_type == "dict" %}
				{% include "mainframe/nav_treeview.html" with name=key data=value %}
			{% else %}
				<div>Unknown Menu Type: {{ value|get_type }}</div>
			{% endif %}	
		{% endfor %}
		 </ul> 
  </nav>
 </div>
</aside>
