<div class="content-wrapper iframe-mode" data-loading-screen="750" data-widget="iframe">
 <div class="nav navbar navbar-expand navbar-white navbar-light border-bottom p-0">
  <div class="nav-item dropdown">
   <a aria-expanded="false" aria-haspopup="true" class="nav-link bg-danger dropdown-toggle" data-toggle="dropdown" href="#" role="button">
    Close
   </a>
   <div class="dropdown-menu mt-0">
    <a class="dropdown-item" data-type="all" data-widget="iframe-close" href="#">
     Close All
    </a>
    <a class="dropdown-item" data-type="all-other" data-widget="iframe-close" href="#">
     Close All Other
    </a>
   </div>
  </div>
  <a class="nav-link bg-light" data-widget="iframe-scrollleft" href="#">
   <i class="fas fa-angle-double-left">
   </i>
  </a>
  <ul class="navbar-nav overflow-hidden" role="tablist">
  </ul>
  <a class="nav-link bg-light" data-widget="iframe-scrollright" href="#">
   <i class="fas fa-angle-double-right">
   </i>
  </a>
  <a class="nav-link bg-light" data-widget="iframe-fullscreen" href="#">
   <i class="fas fa-expand">
   </i>
  </a>
 </div>
 <div class="tab-content">
  <div class="tab-empty">
   <h2 class="display-4">
    No tab selected!
   </h2>
  </div>
  <div class="tab-loading">
   <div>
    <h2 class="display-4">
     Tab is loading
     <i class="fa fa-sync fa-spin">
     </i>
    </h2>
   </div>
  </div>
 </div>
</div>
