<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   AdminLTE 3 | Tabbed IFrames
  </title>
  <link href="/dc/static/mainframe/https:/fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" rel="stylesheet"/>
  <link href="/dc/static/mainframe/plugins/fontawesome-free/css/all.min.css" rel="stylesheet"/>
  <link href="/dc/static/mainframe/dist/css/adminlte.min.css" rel="stylesheet"/>
  <link href="/dc/static/mainframe/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet"/>
 </head>
 <body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
  <div class="wrapper">
   {% include "mainframe/nav.html" %}
   {% include "mainframe/aside.html" %}
   {% include "mainframe/iframe.html" %}
   {% include "mainframe/footer.html" %}
   <aside class="control-sidebar control-sidebar-dark">
   </aside>
  </div>
  <script src="/dc/static/mainframe/plugins/jquery/jquery.min.js">
  </script>
  <script src="/dc/static/mainframe/plugins/jquery-ui/jquery-ui.min.js">
  </script>
  <script>
   $.widget.bridge('uibutton', $.ui.button)
  </script>
  <script src="/dc/static/mainframe/plugins/bootstrap/js/bootstrap.bundle.min.js">
  </script>
  <script src="/dc/static/mainframe/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js">
  </script>
  <script src="/dc/static/mainframe/dist/js/adminlte.js">
  </script>
 </body>
</html>
