<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   数据中台管理
  </title>
  <link href="/static/mainframe/dist/css/adminlte.min.css" rel="stylesheet"/>
 </head>
 <body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
  <div class="wrapper">
   {% include "mainframe/nav.html" %}
   {% include "mainframe/aside.html" %}
   {% include "mainframe/div.html" %}
   {% include "mainframe/footer.html" %}
   {% include "mainframe/aside.html" %}
  </div>
  <script src="/static/mainframe/plugins/bootstrap/js/bootstrap.bundle.min.js">
  </script>
  <script src="/static/mainframe/dist/js/adminlte.js">
  </script>
 </body>
</html>
